<div id="main">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Courses", courses_path %>
    </li>
    <li class="breadcrumb-item active">
      <%= @course.name %>
    </li>
  </ol>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <%= @course.name %>
      </h5>
      <h6 class="card-subtitle">
        <%= @course.daytime %>
      </h6>
      <p class="card-text">
        <%= "Students enrolled: #{@course.students.count}" %>
      </p>
      <p></p>
      <span>
        <%= octicon "calendar", :height => 20 %>
      </span>
      <span>
        <% if !@course.attendance_taken? %>
          <%= link_to 'Take attendance', open_attendance_path(@course), :method => :post, :class => 'btn btn-sm btn-success' %>
        <% else %>
          <% if @course.attendance_active? %>
          <%= link_to 'Close attendance', close_attendance_path(@course), :method => :post, :class => 'btn btn-sm btn-success' %>
          <% else %>
          Attendance already taken today
          <%= link_to 'Reopen attendance', open_attendance_path(@course), :method => :post, :class => 'btn btn-sm btn-success' %>
          <% end %>
        <% end %>
      </span>
      <span>
         <%# <%= link_to "Cold call report", edit_course_coldcall_path(@course, 0), :class => "btn btn-primary btn-sm" %>
      </span>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th># Polls</th>
      <th>Type</th>
      <th>Question</th>
      <th>Date</th>
      <th>Delete</th>
      <th>New Poll</th>
    </tr>
    </thead>
    <tbody id='question_table'>
      <%= render partial: 'question', collection: @questions %>
    </tbody>
  </table>

  <div id="bottom">
    <div id="form">
      <%= link_to "Create a new question", new_course_question_path(@course), :class => "btn btn-primary" %>
    <div>
  </div>
</div>
