<div id="main">
      <%= form_with url: course_coldcall_path(@course, @coldcall), method: :patch, local: true do |form| %>
        <%= form.hidden_field :user, value: @coldcall.user.id %>
        <%= form.hidden_field :email, value: @coldcall.user.email %>
        <%= form.number_field :count, value: @coldcall.count %>
        <%= form.submit %>
      <% end %>
</div>
