<div id="main">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Courses</li>
  </ol>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Meeting times</th>
      <% if !current_user.student? %>
        <th>Attendance report</th>
        <th>Question/poll report</th>
        <th>Cold call report</th>
        <th># Students</th>
      <% else %>
        <th></th>
      <% end %>
    </tr>
    <% @courses.each do |c| %>
      <tr>
        <td>
          <%= link_to c.name, course_path(c), :class => "btn btn-light" %>
        </td>
        <td>
          <%= c.daytime %>
        </td>
        <% if !current_user.student? %>
          <td>
            <%= link_to "Show report", attendance_report_path(c), :class => "btn btn-primary btn-sm" %>
          </td>
          <td>
            <%= link_to "Show report", question_report_path(c), :class => "btn btn-primary btn-sm" %> 
          </td>
          <td>
            <%= link_to "Show report", edit_course_coldcall_path(c,0), :class => "btn btn-primary btn-sm" %>
          </td> 
          <td>
            <%= c.students.count %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
