<div id="main">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Courses", courses_path %>
    </li>
    <li class="breadcrumb-item active">
      <%= link_to "#{@course.name}", course_path(@course) %>
    </li>
    <li class="breadcrumb-item active">
      Question report
    </li>
  </ol>

<h3>
  <%= "Question report for #{@course.name}" %>
</h3>
<table class="table-striped table-bordered">
  <tr>
    <th>
      <p class="vertical-orientation">Date</p>
    </th>
    <th>
      <p class="vertical-orientation">Question</p>
    </th>
    <th>
      <p class="vertical-orientation">Poll</p>
    </th>
    <th>
      <p class="vertical-orientation">Type</p>
    </th>
    <% @course.students.each do |s| %>
      <th>
        <p class="vertical-orientation">
          <%= strip_email_domain(s.email) %>
        </p>
      </th>
    <% end %>
  </tr>
  <% @response_matrix.each do |row| %>
    <tr>
      <td class="small">
        <%= "#{row[0]}" %>
      </td>
      <td class="small">
        <%= "#{row[1]}" %>
      </td>
      <td class="small">
        <%= "#{row[2]}" %>
      </td>
      <td class="small">
        <%= "#{row[3]}" %>
      </td>
      <% row[4..].each do |val| %>
        <td class="small">
          <%= "#{val}" %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
</div>
